
body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

li{
    list-style: none;
}

.sidebar{
    display: flex;
    width: 700px;
    /* width: 30%; */
    /* margin: 0 20px; */
}

.sidebar button{
    font-size: 20px;
    padding: 20px;
    background-color: white;
    border: none;
    margin:10px;
    width: auto;
}

a{
    text-decoration: none;
    color: black;
}

.content{
    display: flex;

}

.items{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    overflow: auto;
}

button{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
}

input{
    padding: 8px;
    border-radius: 25px;
    font-size: 30px;
    width: 150%;
    border: 1px solid black;
}

iframe{
    padding: 2px;
}

.items img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: -20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
}